* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: azure;
  text-transform: uppercase;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

header p {
  font-size: 25px;
}

.pads {
  width: 100%;
  display: flex;
  z-index: 2;
}

.pads>div {
  height: 120px;
  width: 100px;
  flex: 1;
}

.pads>div:hover {
  -moz-box-shadow:    inset 0 0 15px #ffffff;
   -webkit-box-shadow: inset 0 0 15px #ffffff;
   box-shadow:         inset 0 0 15px #ffffff;
   transition-duration: 0.2s;
}

.pad1 {
  background: rgb(96, 211, 148);
}

.pad2 {
  background: rgb(211, 96, 96);
}

.pad3 {
  background: rgb(192, 96, 211);
}

.pad4 {
  background: rgb(211, 209, 96);
}

.pad5 {
  background: rgb(96, 107, 211);
}

.pad6 {
  background: rgb(96, 194, 211);
}

.visual>div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  letter-spacing: 3px;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}